{% extends "base.html" %}
{% block content %}
<div class="container">

  <div class="top-row">
    <h2>💡 Your Summaries</h2>
    <div class="theme-toggle">
    </div>
  </div>

  {% if summaries %}
    <div class="notes-list">
      {% for s in summaries %}
      <div class="note-card">
        <div class="note-head">
          <h4>{{ s.title }}</h4>
        </div>
        <div class="note-body">
          {{ s.summary|safe }}
        </div>
      </div>
      {% endfor %}
    </div>
  {% else %}
    <p>No summaries yet 💭</p>
  {% endif %}

</div>
{% endblock %}
